{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recess-order",
    "@css-modules-kit/stylelint-plugin/recommended"
  ],
  "plugins": ["stylelint-plugin-use-baseline"],
  "rules": {
    "selector-class-pattern": null,
    "no-descending-specificity": null,
    "color-function-alias-notation": "with-alpha",
    "plugin/use-baseline": [
      true,
      {
        "available": "widely"
      }
    ]
  }
}
